/*Shared common style*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 200px;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

header {
    background: #FFF8F3;
    background-image: url('Image/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0px;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #474747;
    
}

nav li a {
    text-decoration: none;
}

.text-primary {
    color: #FD6E0A;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.banner {
    padding: 30px 30px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner .profile-pic {
    width: 500px;   
}
.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
}
/* Main Section*/
main {
    max-width: 1140px;
    margin: 0 auto;
    
}

main section {
    margin-top: 130px;
}

/*About Section */
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

.info-title {
    font-weight: 100;

}

.info-description {
    font-weight: bold;
}

/* What I do */

#what-i-do {
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.skill {
    padding: 30px;
    gap: 40px;
    box-shadow: 0px 6px 50px 0px #928e8e;
    border-radius: 5px;
    background-color: #FFF;
    
}

.skill-description{
    color: #757575;
}



